.consultar__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    gap: 20px;
}
.consultar__container input[type="number"]{
    height: 35px;
    width: 100%;
    font-size: 1.3rem;
    border: none;
    outline: none;
    text-indent: 6px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.consultar__container input[type="number"]:focus{
    outline: 2px solid;
    outline-offset: -3px;
    outline-color: rgb(39, 39, 39);
}

.consultar__container button{
    border: none;
    border-radius: 5px;
    padding: 1rem 2rem;
    font-size: 1.3rem;
    color: var(--text-primary);
    background-color: var(--btn-primary);
    transition: all 0.2s;
    margin-top: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.consultar__container button:hover{
    padding: 1rem 2.3rem;
    background-color: var(--btn-hover);
    cursor: pointer;
}
.result__container{
    height: 300px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #1f415a;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.result__wrapper{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}
.result__wrapper h1{
    font-size: 1.7rem;
    margin-bottom: 20px;
}
.result__wrapper h2{
    width: 100%;
    min-width: 230px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    color: #fff;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.301);
    padding-bottom: 3px;
    
}
.result__wrapper h2 span{
    font-size: 1.3rem;
    color: #e8f5ff;
}